table {
  font-family:bookman;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #e0d6d6;
    text-align: center;
    padding: 17px;
}


#box{

	width: 20px;
    height: 20px;
    border: 1px solid #e0d6d6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}

#img{
  width: 123px;
  height: 101px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Sr.No"; }
  td:nth-of-type(2):before { content: "Picture"; }
  td:nth-of-type(3):before { content: "Product Name"; }
  td:nth-of-type(4):before { content: "Price"; }
  td:nth-of-type(5):before { content: "Quantity"; }
  td:nth-of-type(6):before { content: "Total"; }
  
}